<div class="mt-4">
  <h3 class="mb-2">URL not exist!</h3>
  <p class="text-muted" style="font-size: larger;">Redirecting after <span id='countDown'>5</span> sec...</p>
</div>

<script>
  const countDown = document.querySelector('#countDown')
  const SET_SECOND = 5
  let time = SET_SECOND

  setTimeout(function () {
    window.location = '/'
  }, SET_SECOND * 1000)
  setInterval(() => {
    time -= 1
    countDown.textContent = time
  }, 1000)
</script>